
$control.setTemplate("home:navigation.vm")
<script language="javascript">
<!--
	changeNav("sync");
//-->
function changeKeyword(id, name, local) {
	if(local == 'source'){
    	if( document.getElementById("sourceDataMediaId") && document.getElementById("sourceDataMediaName")){
    		document.getElementById('sourceDataMediaId').value = id;
        	document.getElementById('sourceDataMediaName').value = name;
    	}
	}else{
		if( document.getElementById("targetDataMediaId") && document.getElementById("targetDataMediaName")){
    		document.getElementById('targetDataMediaId').value = id;
        	document.getElementById('targetDataMediaName').value = name;
    	}
	}
	
}
</script>
#macro (addBatchDataMediaMessage $field)
    #if (!$field.valid) $field.message #end
#end	

<div class="main">
  <div class="title"> 
    <h2>批量添加数据表</h2>
  </div> <div class="crumbs"><a href="dataMediaList.htm">数据表配置</a>&nbsp;&nbsp;>&nbsp;&nbsp;<a href="addBatchDataMedia.htm">批量添加数据表</a></div>

 <form name="addBatchDataMediaForm" method="post" enctype="multipart/form-data">
	$csrfToken.hiddenField
	<input type="hidden" name="action" value="data_media_action"/>
	<input type="hidden" name="event_submit_do_batch_add" value="1" />
	<div class="setting_box">
		#set ($batchDataMediaGroup = $form.batchDataMediaInfo.defaultInstance)
		<table cellpadding="0" cellspacing="0" class="setting setting_otter">
			<span class="red">#addBatchDataMediaMessage ($batchDataMediaGroup.formBatchDataMediaError)</span>
			<tr> 
				<td>
					格式：schema,table,sourceId<br/>
					例如：testdb,.*,1<br/>
				</td>
			</tr>
			<tr> 
				<td>
					<textarea cols=100 rows=10 name="$batchDataMediaGroup.batchContent.key" ></textarea>
				</td>
			</tr>
		</table>
	</div>
	<input type="submit" name="submitKey" value="保存" class="button"/>
 </form>
</div>

